.hero {
    background: var(--hero-footer-color);
    padding: 200px 0px;
    text-align: center;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/fon-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    @include font(44px, 900, 1.36, 0.06em);
    text-align: center;
    margin: 0 auto 30px;
    text-transform: uppercase;
    color: var(--brand-color);
    max-width: 696px;
}
